<form
  class="flex flex-col w-[75%] py-6 px-4 border border-gray-400 bg-gray-50 rounded-lg mx-auto mt-12 shadow-md"
  [formGroup]="exchangeForm"
>
  <div class="flex flex-col lg:flex-row w-full">
    <mat-form-field class="px-2 mb-1 lg:mb-0 w-full">
      <mat-label for="amount">Amount</mat-label>
      <input matInput formControlName="amount" type="number" id="amount" />
      @if (exchangeForm.get("amount")?.invalid) {
        <mat-error class="truncate">{{ getErrorMessage("amount") }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="px-2 mb-1 lg:mb-0 w-full">
      <mat-label for="from">From</mat-label>
      <mat-select formControlName="from" id="from" #from>
        <mat-select-trigger>
          <flag-label [code]="from.value"></flag-label>
        </mat-select-trigger>
        @for (currency of currencies; track currency) {
          <mat-option [value]="currency">
            <flag-label [code]="currency"></flag-label
          ></mat-option>
        }
      </mat-select>
      @if (exchangeForm.get("from")?.invalid) {
        <mat-error class="truncate">{{ getErrorMessage("from") }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="px-2 mb-1 lg:mb-0 w-full">
      <mat-label for="to">To</mat-label>
      <mat-select formControlName="to" id="to" #to>
        <mat-select-trigger>
          <flag-label [code]="to.value"></flag-label>
        </mat-select-trigger>
        @for (currency of currencies; track currency) {
          <mat-option [value]="currency">
            <flag-label [code]="currency"></flag-label>
          </mat-option>
        }
      </mat-select>
      @if (exchangeForm.get("to")?.invalid) {
        <mat-error class="truncate">{{ getErrorMessage("to") }}</mat-error>
      }
    </mat-form-field>
  </div>

  <output class="px-2">
    @if (ratesStore.loading$ | async) {
      <mat-spinner class="mx-auto max-w-8 max-h-8"></mat-spinner>
    } @else if (ratesStore.error$ | async) {
      <div class="w-full bg-red-300 text-red-900 p-2 rounded">
        {{ ratesStore.error$ | async }}
      </div>
    } @else if (ratesStore.convert$ | async) {
      <div class="text-xl text-gray-900">
        {{
          ratesStore.convert$ | async | currency: $any(exchangeForm.value.to)
        }}
        <span class="mr-2">{{ exchangeForm.value.to }}</span>
        <div class="text-sm text-gray-500">
          Exchange rate at:&nbsp;{{
            ratesStore.date$ | async | date: "dd/MM/YYYY"
          }}
        </div>
      </div>
    }
  </output>
</form>
